
<div id="homePage">
		<!-- Header -->
		<header class="nav container-fluid">
			<div class="logo">
				<img src="img/logo.png" class="img-fluid" alt="Logo">
			</div>
			<div class="bars ml-auto" id="openDrawer">
				<i class="fas fa-bars fa-2x"></i>
			</div>
			<ul class="menu ml-auto" id="navLaptop">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Ask Question</a>
				</li>
				<li>
					<a href="#">Ask Donation</a>
				</li>
				<li>
					<a href="#">About Us</a>
				</li>
				<li>
					<a href="#">Contact Us</a>
				</li>
				<li>
					<input type="text" class="searchbox" placeholder="Search..." />
					<i class="fas fa-search" id="openSearch"></i>
				</li>
				<li>
					<img src="img/user.jpg" class="img-fluid accountSettingDropdown" id="accountSettingDropdown" />
					<div class="dropdownPicture" id="dropdownPicture">
						<div class="options">
							<p><a href="#">Profile</a></p>
							<p><a href="#">Settings</a></p>
							<p><a href="#">Logout</a></p>
						</div>
					</div>
				</li>
			</ul>
	
			<div id="drawer">
				<div class="close-bars">
					<button id="closeBars">
						<i class="fa fa-close"></i>
					</button>
				</div>
				<ul>
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">About Us</a>
					</li>
					<li>
						<a href="#">Jobs</a>
					</li>
					<li>
						<a href="#">Funding</a>
					</li>
					<li>
						<a href="#">Contact Us</a>
					</li>
				</ul>
			</div>
	
		</header>
	
		<!-- Body -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3" id="leftSidebar">
					<ul>
						<li>
							<i class="fas fa-rss"></i>
							<a routerLink="/home">Feed</a>
						</li>
						<li>
							<i class="fas fa-university"></i>
							<a routerLink="/education">Education</a>
						</li>
						<li>
							<i class="fas fa-microchip"></i>
							<a routerLink="/marriage">Marriage</a>
						</li>
						<li>
							<i class="fas fa-parachute-box"></i>
							<a routerLink="/proverty">Proverty</a>
						</li>
						<li>
							<i class="fas fa-female"></i>
							<a routerLink="/women">Women</a>
						</li>
						<li>
							<i class="fas fa-child"></i>
							<a routerLink="/child">Child Labour</a>
						</li>
						<li>
							<i class="fas fa-hands-helping"></i>
							<a routerLink="/employment">Un-Employment</a>
						</li>
						<li>
							<i class="fas fa-microchip"></i>
							<a routerLink="/others">Others</a>
						</li>
						<li>
							<i class="fab fa-youtube"></i>
							<a routerLink="/videos">Videos</a>
						</li>
						</ul>
				</div>
				<div class="col-lg-6" id="middleDiv">
					<div class="col-lg-12 ask-question">
						<div class="head">
							<img src="img/user.jpg" class="img-fluid" />
							<a href="#">Awais Khalid</a>
						</div>
						<div class="body">
							<span id="postQustionPopuopOpener">What's in your mind ?</span>	
						</div>
					</div>
					<!-- Question -->
					<!-- <div class="questionBox">
						<h3 class="title">
							<a href="#">
								What are some of the best rare natural phenomena that occur on Earth?
							</a>
						</h3>
						<div class="thumbnail">
							<img src="img/q2.webp" class="img-fluid">
						</div>
						<div class="content">
							<p>
								By witnessing so many negative scenarios happening around us, we are becoming pessimistic while slowly and gradually forgetting the hidden treasure of the earth.
							</p>
						</div>
						<div class="meta">
							<ul class="left">
								<li>
									<i class="far fa-calendar"></i>
									20 April, 2019		
								</li>
							</ul>
							<ul class="right">
								<li>
									<i class="far fa-thumbs-up"></i>
									20
								</li>
								<li>
									<i class="far fa-comment"></i>
									10
								</li>
							</ul>
						</div>
					</div> -->
					<!-- Question -->
					<!-- <div class="questionBox">
						<h3 class="title">
							<a href="#">
								What are non-Bitcoin/cryptocurrency applications of blockchain technology?
							</a>
						</h3>
						<div class="thumbnail">
							<img src="img/q3.png" class="img-fluid">
						</div>
						<div class="content">
							<p>
								Blockchain is probably the best idea of this century that will find it's way in our life probably in the next century, probably never.
							</p>
						</div>
						<div class="meta">
							<ul class="left">
								<li>
									<i class="far fa-calendar"></i>
									20 April, 2019		
								</li>
							</ul>
							<ul class="right">
								<li>
									<i class="far fa-thumbs-up"></i>
									20
								</li>
								<li>
									<i class="far fa-comment"></i>
									10
								</li>
							</ul>
						</div>
					</div> -->
					<!-- Question -->
					<div *ngFor="let post of posts" >
					<div class="questionBox">
						<h3 class="title">
							<a routerLink="/question/{{post.key}}">
									{{ post.post.Title }}
							</a>
						</h3>
						<div class="thumbnail">
							<img src={{post.post.PostImage}} class="img-fluid">
						</div>
						<div class="content">
							<p>
								{{post.post.Description}}
							</p>
						</div>
						<div class="meta">
							<ul class="left">
								<li>
									<i class="far fa-calendar"></i>
									  {{post.post.Date}}		
								</li>
							</ul>
							<ul class="right">
								<!-- <li>
									<i class="far fa-thumbs-up"></i>
									20
								</li> -->
								<li>
									<i class="fas fa-crop"></i>
									 {{post.post.Category}}
								</li>
							</ul>
						</div>
					</div>
	
				</div>
			</div>
	
				<div class="col-lg-3" id="rightSidebar">
					<div class="box questions">
						<h3 class="title">Popular Questions</h3>
						<div class="content">
							<p>
								<a href="#">Why not to buy bitcoin in 2019 ?</a>
							</p>
							<p>
								<a href="#">What are some of the best life hacks to apply ?</a>
							</p>
							<p>
								<a href="#">What is the coolest application of Blockchain technology?</a>
							</p>
							<p>
								<a href="#">How can I start a career in blockchain technology?</a>
							</p>
							<p>
								<a href="#">What are the best software companies in the world ?</a>
							</p>
						</div>
					</div>
					<div class="box members">
						<h3 class="title">Popular Members</h3>
						<div class="content">
							<!-- Member -->
							<div class="member">
								<div class="thumbanil">
									<img src="img/user.jpg" class="img-fluid" />
								</div>
								<div class="">
									<a href="#" class="name">Awais Khalid</a>
									<p class="designation">Web Developer</p>
								</div>
							</div>
							<!-- Member -->
							<div class="member">
								<div class="thumbanil">
									<img src="img/user.jpg" class="img-fluid" />
								</div>
								<div class="">
									<a href="#" class="name">Zubair Khan</a>
									<p class="designation">Graphic Designer</p>
								</div>
							</div>
							<!-- Member -->
							<div class="member">
								<div class="thumbanil">
									<img src="img/user.jpg" class="img-fluid" />
								</div>
								<div class="">
									<a href="#" class="name">Rana Afaq Ali</a>
									<p class="designation">Sakhat Waila</p>
								</div>
							</div>
							<!-- Member -->
							<div class="member">
								<div class="thumbanil">
									<img src="img/user.jpg" class="img-fluid" />
								</div>
								<div class="">
									<a href="#" class="name">Ali Raza</a>
									<p class="designation">No Idea</p>
								</div>
							</div>
							<!-- Member -->
							<div class="member">
								<div class="thumbanil">
									<img src="img/user.jpg" class="img-fluid" />
								</div>
								<div class="">
									<a href="#" class="name">Ahmad Bhai</a>
									<p class="designation">Again no idea</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<!-- ================================================================ -->
		<!-- ================================================================ -->
		<!-- ======================= [ MODALS ] ============================= -->
		<!-- ================================================================ -->
		<!-- ================================================================ -->
		<!-- ================================================================ -->
	
		<!-- <div class="models" id="postQuestionModel">
			<div class="cancel" id="closeQuestionModel">
				<i class="fa fa-close"></i>
			</div>
			<div class="header">
				<h4 class="title">Post your question</h4>
			</div>
			<div class="body">
					<form  [formGroup]="myhomeform" (ngSubmit)="submitFrom()">
	
				<div class="form-group">
					<input type="text"formControlName="Title"  placeholder="Your Question" />
				</div>
				<div class="form-group" >
					<select class="form-group" formControlName="Catagory">
						<option selected disabled>Choose Category</option>
						<option value="Education">Education</option>
						<option value="Society">Society</option>
						<option value="Women">Women</option>
						<option value="Child">Child Labour</option>
						<option value="Employment">Un-Employment</option>
						<option value="Marriage">Marriage</option>
						<option value="Proverty">Proverty</option>
						<option value="Others">Others</option> -->
	
	
	
	
	
					<!-- </select>
				</div> -->
				<!-- <div class="form-group">
					<input type="text" placeholder="Tags" />
				</div> -->
				<!-- <div class="form-group">
					<input type="file" />
				</div>
				<div class="form-group">
					<textarea placeholder="Your Content" formControlName="Description"></textarea>
				</div>
				<div class="">
					<button class="submit">Post</button>
				</div>
			</form>
			</div>
	
		</div> -->
	
		<!-- <div id="postQuestionModelOverlay"></div>
	
		<div class="models" id="DonationsModel">
			<div class="cancel" id="closeDonationsModel">
				<i class="fa fa-close"></i>
			</div>
			<div class="header">
				<h4 class="title">Ask for donations</h4>
			</div>
			<div class="body">
				<div class="form-group">
					<input type="text" placeholder="Full Name" />
				</div>
				<div class="form-group">
					<input type="text" placeholder="Email Address" />
				</div>
				<div class="form-group">
					<textarea placeholder="Your Message"></textarea>
				</div>
				<div class="">
					<button class="submit">Post</button>
				</div>
			</div>
		</div>
	</div> -->
	