
<body class="profile">
        <div id="profilePage">
            <!-- Header -->
            <header class="nav container-fluid">
                <div class="logo">
                    <img src="img/logo.png" class="img-fluid" alt="Logo">
                </div>
                <div class="bars ml-auto" id="openDrawer">
                    <i class="fas fa-bars fa-2x"></i>
                </div>
                <ul class="menu ml-auto" id="navLaptop">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">About Us</a>
                    </li>
                    <li>
                        <a href="#">Jobs</a>
                    </li>
                    <li>
                        <a href="#">Funding</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li>
                        <input type="text" class="searchbox" placeholder="Search..." />
                        <i class="fas fa-search" id="openSearch"></i>
                    </li>
                    <li>
                        <img src="img/user.jpg" class="img-fluid accountSettingDropdown" id="accountSettingDropdown" />
                        <div class="dropdownPicture" id="dropdownPicture">
                            <div class="options">
                                <p><a href="#">Profile</a></p>
                                <p><a href="#">Settings</a></p>
                                <p><a href="#">Logout</a></p>
                            </div>
                        </div>
                    </li>
                </ul>
        
                <div id="drawer">
                    <div class="close-bars">
                        <button id="closeBars">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Jobs</a>
                        </li>
                        <li>
                            <a href="#">Funding</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                    </ul>
                </div>
        
            </header>
        
            <!-- Body -->
            <div class="wrapper">
                <div class="container-fluid topBar">
                    <div class="col-lg-6">
                        <!-- <p class="breadcrumbs"><a href="#">Home</a> / Pages / <span>Profile</span></p> -->
                    </div>
                </div>
                <div class="col-lg-12 cover">
                    <div class="row">
                        <div class="col-lg-3 img">
                            <img src="{{this.user.profile_image}}" class="profilePic">
                        </div>
                        <div class="col-lg-9 content">
                            <h4 class="name">{{this.user.name}}</h4>
                            <p class="designation">{{this.user.accountType}}</p>
                            <div class="social">
                                <ul>
                                    <li>
                                        <a href={{posts.facebook}}>
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class='rate_widget'>
                                <p class="head">Rating</p>
                                <ul id="rating">
                                    <li><a class='one-star checked'><i class="fas fa-star"></i></a></li>
                                    <li><a class='two-stars checked'><i class="fas fa-star"></i></a></li>
                                    <li><a class='three-stars checked'><i class="fas fa-star"></i></a></li>
                                    <li><a class='four-stars checked'><i class="fas fa-star"></i></a></li>
                                    <li><a class='five-stars'><i class="fas fa-star"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container about">
                    <div class="row">
                        <div class="col-lg-5">
                            <h4 class="title">About Me</h4>
                            <p class="desc">
                              {{posts.aboutnote}}
                            </p>
                        </div >
                        <div class="col-lg-7 Questions">
                            <h4 class="title">Questions</h4>
                            <div *ngFor="let post of question">
                            <ol>
                                <li>
                                    <div class="row controllers">
                                        <a routerLink="/edit/{{post.key}}">What are the problems of an entrepreneur in todays business?</a>
                                        <a href="">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <form action="">
                                            <button> <i class="fa fa-trash"></i> </button>
                                        </form>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
                
        
        