
		
	<div id="aboutPage">
		<!-- Header -->
		<header class="nav container-fluid">
			<div class="logo">
				<img src="img/logo.png" class="img-fluid" alt="Logo">
			</div>
			<!-- <div class="bars ml-auto" id="openDrawer">
				<i class="fas fa-bars fa-2x"></i>
			</div>
			<ul class="menu ml-auto" id="navLaptop">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">About Us</a>
				</li>
				<li>
					<a href="#">Jobs</a>
				</li>
				<li>
					<a href="#">Funding</a>
				</li>
				<li>
					<a href="#">Contact Us</a>
				</li> -->
				<!-- <li>
					<input type="text" class="searchbox" placeholder="Search..." />
					<i class="fas fa-search" id="openSearch"></i>
				</li> -->
			<!-- </ul> -->

			<!-- <div id="drawer">
				<div class="close-bars">
					<button id="closeBars">
						<i class="fa fa-close"></i>
					</button>
				</div>
				<ul>
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">About Us</a>
					</li>
					<li>
						<a href="#">Jobs</a>
					</li>
					<li>
						<a href="#">Funding</a>
					</li>
					<li>
						<a href="#">Contact Us</a>
					</li>
				</ul>
			</div> -->

		</header>

		<!-- Body -->
		<div class="wrapper">
			<div class="container-fluid topBar">
				<div class="col-lg-6">
					<!-- <p class="breadcrumbs"><a href="#">Home</a> / Pages / <span>About Us</span></p> -->
				</div>
			</div>
			<div class="col-lg-12 cover">
				<div style="text-align: center;padding-top: 100px;">
					<h1 class="title">About Us</h1>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="container content">
				<p>
                        The social network, on which people can discuss their society issues, 
                        Upload videos and photos, text or PDF files, send and receive messages and comment on 
                        An issue.
				</p>
				<p>
                        This website will solve social issues in social sectors and this system help 
                        Peoples to solve problem, discussing with counselors and share their issues on 
                        Application. Identifier will identify a major problem in our society. Councilors provide 
                        services for no financial or social gain to benefit another group or organization. After 
                        mentioning about the introduction of the software system, the specific requirement will 
                        be addresses for it. In the final part, functional and non-functional requirement will be 
                        addressed.
					</p>
				<h3 class="subHeading">Our Vision</h3>
				<p>
                        Our organization is a social network that connects peoples. Our Mission is to provide information to the users about social issues and peoples who have issue. Identifier will share social issues and problem in our society. He can upload issue, upload videos, upload photos, chatting with other users etc. Moreover, users can create social groups on issues like Universities issues, education issues, marriage issues, poverty issues and other issues in our society. Counselors will guide identifiers on their issues and communicate with them directly. Volunteer can raise funds for financial issues and communicate with identifier.
                        It is a social network that connects peoples and peoples can use this system for their social problems. 
                </p>
				
			<p>The main purpose of this project is to solve social issues in our society, raising awareness in peoples, providing counseling to peoples, show right path to peoples, raise funds for financial issues, improve quality of human right, to bring reform, to change thinking of people etc. In addition to these, it provide a basis for validation and verification </p>
			</div>
		</div>

		<div class="models" id="reportModel">
				<div class="cancel" id="closeReportModel">
					<i class="fa fa-close"></i>
				</div>
				<div class="header">
					<h4 class="title">Report this post</h4>
				</div>
				<div class="body">
					<div class="form-group">
						<input type="text" placeholder="Full Name" />
					</div>
					<div class="form-group">
						<input type="text" placeholder="Email Address" />
					</div>
					<div class="form-group">
						<select>
							<option selected disabled>Why you are reporting this post</option>
							<option>Abuse</option>
							<option>Religious</option>
							<option>Un Ethical</option>
						</select>
					</div>
					<div class="form-group">
						<textarea placeholder="Your Message"></textarea>
					</div>
					<div class="">
						<button class="submit">Post</button>
					</div>
				</div>
			</div>
		<div id="postQuestionModelOverlay"></div>

	</div>

