<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <div class="website-logo-inside">
                        <!-- <a routerLink="/">
                       Helping Hand
                      </a> -->
                    </div>
                    <h3>Helping Hand</h3>
                    <p>Access to the most wide Social Network for Community.</p>
                    <div class="page-links">
                        <a routerLink="/" class="active">Login</a>
                        <a routerLink="/register" routerLinkActive="active">Register</a>
                    </div>
                    <form [formGroup]="myForm" (ngSubmit)="submitFrom()">

                        <input class="form-control" type="text" formControlName="email" placeholder="E-mail Address" >

                        <input class="form-control" type="password" formControlName="password" placeholder="Password"
                            >
                        <div class="form-button">
                            <button id="submit" type="submit" class="ibtn" >Login</button>
                            <a routerLink="/forgetpassword">Forget password?</a>
                        </div>
                    </form>
                    <div class="other-links">
                        <span>Or login with</span><a (click)="facebook()">Facebook</a><a (click)="google()">Google</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
