
	<div id="PostPage">
			<!-- Header -->
		<header class="nav container-fluid">
			<div class="logo">
				<img src="img/logo.png" class="img-fluid" alt="Logo">
			</div>
			<div class="bars ml-auto" id="openDrawer">
				<i class="fas fa-bars fa-2x"></i>
			</div>
			<ul class="menu ml-auto" id="navLaptop">
				<li>
					<a href="#">Home</a>
				</li>
				<li>
					<a href="#">Ask Question</a>
				</li>
				<li>
					<a href="#">Ask Donation</a>
				</li>
				<li>
                        <a  routerLink="/About">About Us</a>
				</li>
				<li>
					<a  routerLink="/contactus">Contact Us</a>
				</li>
				<li>
					<input type="text" class="searchbox" placeholder="Search..." />
					<i class="fas fa-search" id="openSearch"></i>
				</li>
			</ul>

			<div id="drawer">
				<div class="close-bars">
					<button id="closeBars">
						<i class="fa fa-close"></i>
					</button>
				</div>
				<ul>
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">Ask Question</a>
					</li>
					<li>
						<a href="#">Ask Donation</a>
					</li>
					<li>
						<a href="#">About Us</a>
					</li>
					<li>
						<a href="#">Contact Us</a>
					</li>
				</ul>
			</div>

		</header>

		<!-- Body -->
	<div class="container-fluid">
            <div class="row">
                <div class="col-lg-3" id="leftSidebar">
                    <ul>
                        <li>
                            <i class="fas fa-rss"></i>
                            <a href="#">Feed</a>
                        </li>
                        <li>
                                <i class="fas fa-university"></i>		
                                <a href="#">Education</a>
                        </li>
                        <li>
                            <i class="fas fa-microchip"></i>
                            <a href="#">Marriage</a>
                        </li>
                        <li>
                            <i class="fas fa-parachute-box"></i>
                            <a href="#">Proverty</a>
                        </li>
                        <li>
                            <i class="fas fa-female"></i>
                            <a href="#" >Women</a>
                        </li>
                        <li>
                            <i class="fas fa-child"></i>
                            <a href="#">Child Labour</a>
                        </li>
                        <li>
                            <i class="fas fa-hands-helping"></i>
                            <a href="#">Un-Employment</a>
                        </li>
                        <li>
                            <i class="fas fa-microchip"></i>
                            <a href="#">Others</a>
                        </li>
                        <!-- <li>
                            <i class="fas fa-users"></i>
                            <a href="#">Employees</a>
                        </li> -->
    
                    </ul>
                </div>
				<div class="col-lg-6" id="middleDiv">
					<div class="post">
						<h4 class="title">
							{{posts.Title}}
						</h4>
						<a href="#">
							<button class="editPost">
								<i class="fa fa-pencil"></i>
							</button>
						</a>
						<div class="thumbnail">
							<a href={{posts.PostImage}} target="blank">
								<img src={{posts.PostImage}} class="img-fluid" />
							</a>
						</div>
						<div class="meta">
							<ul class="left">
								<li>
									<i class="far fa-calendar"></i>
									{{posts.Date}}
								</li>
								<li>
									<i class="far fa-user"></i>
									Posted by <b><a href="#">{{posts.Name}}</a></b>
								</li>
							</ul>
							<ul class="right">
								<li>
									<li>
										<i class="fas fa-th-large"></i>
										{{posts.Category}} &nbsp;&nbsp;
									</li>
									<li>
										<i class="fas fa-sign-out-alt "></i>
										<span id="openReportModel" style="cursor: pointer;">Report</span>
									</li>
								
							</ul>
						</div>
						<div class="clearfix"></div>
						<div class="divider"></div>
						<div class="content">
							<p>
								{{post.Description}}
							</p>
						</div>
					</div>
					<div class="commentsDiv">
						<h4 class="title">Comments</h4>
						<div class="commentInput">
							<textarea class="form-control" placeholder="What's in your mind..."></textarea>
							<button class="btn btn-warning btn-sm btn-comment">Comment</button>
						</div>

						<div class="wrapper">
							<!-- comment -->
							<div class="row comment">
								<div class="col-lg-2 userPic">
									<img src="img/user.jpg" class="img-fluid" />
								</div>
								<div class="col-lg-10">
									<p class="name">Awais Khalid</p>
									<p class="data">This is a sample comment for testing.</p>
								</div>
							</div>
							<!-- comment -->
							<div class="row comment">
								<div class="col-lg-2 userPic">
									<img src="img/user.jpg" class="img-fluid" />
								</div>
								<div class="col-lg-10">
									<p class="name">Ali Raza</p>
									<p class="data">This is a sample comment for testing.</p>
								</div>
							</div>
							<!-- comment -->
							<div class="row comment">
								<div class="col-lg-2 userPic">
									<img src="img/user.jpg" class="img-fluid" />
								</div>
								<div class="col-lg-10">
									<p class="name">Zubair Khan</p>
									<p class="data">This is a sample comment for testing.</p>
								</div>
							</div>
						</div>
					</div>
					<div style="margin-top: 40px;"></div>
				</div>
				<div class="col-lg-3" id="rightSidebar">
					<div class="box questions">
						<h3 class="title">Popular Questions</h3>
						<div class="content">
							<p>
								<a href="#">Why not to buy bitcoin in 2019 ?</a>
							</p>
							<p>
								<a href="#">What are some of the best life hacks to apply ?</a>
							</p>
							<p>
								<a href="#">What is the coolest application of Blockchain technology?</a>
							</p>
							<p>
								<a href="#">How can I start a career in blockchain technology?</a>
							</p>
							<p>
								<a href="#">What are the best software companies in the world ?</a>
							</p>
						</div>
					</div>
					<div class="box members">
						<h3 class="title">Popular Members</h3>
						<div class="content">
							<!-- Member -->
							<div class="member">
								<div class="thumbanil">
									<img src="img/user.jpg" class="img-fluid" />
								</div>
								<div class="">
									<a href="#" class="name">Awais Khalid</a>
									<p class="designation">Web Developer</p>
								</div>
							</div>
							<!-- Member -->
							<div class="member">
								<div class="thumbanil">
									<img src="img/user.jpg" class="img-fluid" />
								</div>
								<div class="">
									<a href="#" class="name">Zubair Khan</a>
									<p class="designation">Graphic Designer</p>
								</div>
							</div>
							<!-- Member -->
							<div class="member">
								<div class="thumbanil">
									<img src="img/user.jpg" class="img-fluid" />
								</div>
								<div class="">
									<a href="#" class="name">Rana Afaq Ali</a>
									<p class="designation">Sakhat Waila</p>
								</div>
							</div>
							<!-- Member -->
							<div class="member">
								<div class="thumbanil">
									<img src="img/user.jpg" class="img-fluid" />
								</div>
								<div class="">
									<a href="#" class="name">Ali Raza</a>
									<p class="designation">No Idea</p>
								</div>
							</div>
							<!-- Member -->
							<div class="member">
								<div class="thumbanil">
									<img src="img/user.jpg" class="img-fluid" />
								</div>
								<div class="">
									<a href="#" class="name">Ahmad Bhai</a>
									<p class="designation">Again no idea</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="models" id="reportModel">
				<div class="cancel" id="closeReportModel">
					<i class="fa fa-close"></i>
				</div>
				<div class="header">
					<h4 class="title">Report this post</h4>
				</div>
				<div class="body">
					<div class="form-group">
						<input type="text" placeholder="Full Name" />
					</div>
					<div class="form-group">
						<input type="text" placeholder="Email Address" />
					</div>
					<div class="form-group">
						<select>
							<option selected disabled>Why you are reporting this post</option>
							<option>Abuse</option>
							<option>Religious</option>
							<option>Un Ethical</option>
						</select>
					</div>
					<div class="form-group">
						<textarea placeholder="Your Message"></textarea>
					</div>
					<div class="">
						<button class="submit">Post</button>
					</div>
				</div>
			</div>
		<div id="postQuestionModelOverlay"></div>

	</div>


