* {
  font-family: 'Poppins', Arial, sans-serif;
}

.adminAside .sidebar {
  height: 100vh;
  position: absolute;
  left: 0;
  background: #e9e9e9;
}

.adminAside .sidebar .profile-userpic {
  max-width: 80px;
  margin: 0 auto;
  margin-top: 60px;
}

.adminAside .sidebar .profile-usertitle {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.adminAside .sidebar .profile-usertitle-name {
  padding-bottom: 5px;
}

.adminAside .sidebar .profile-usertitle-status {
  color: green;
}

.adminAside ul.menu {
  margin-top: 20px;
}

.adminAside ul.menu li a {
  color: #555;
  font-size: 15px;
}

.adminAside .divider {
  width: 100px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}

header {
  width: 100%;
  /* height:40px; */
  background: #333;
  z-index: 2000;
  position: relative;
  top: 0;
  color: #fff;
  font-size: 22px;
  padding-left: 40px;
  padding-top: 5px;
  padding-bottom: 2px;
}

.home table.table .trash {
  background: none;
  border: none;
  font-size: 24px;
  outline: none;
}

.home table.table .tableImg {
  width: 70px;
}

/* =================== Bootstrap */
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto
}

.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5
}

.home ::ng-deep nav {
  width: 100%;
}

.admin-nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.admin-nav>li {
  position: relative;
  display: block
}

.admin-nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px
}

.admin-nav>li>a:focus,
.admin-nav>li>a:hover {
  text-decoration: none;
  background-color: #eee
}

.admin-nav>li.disabled>a {
  color: #777
}

.admin-nav>li.disabled>a:focus,
.admin-nav>li.disabled>a:hover {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent
}

.admin-nav .open>a,
.admin-nav .open>a:focus,
.admin-nav .open>a:hover {
  background-color: #eee;
  border-color: #337ab7
}

.admin-nav:after {
  clear: both
}

.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee
}


.home ::ng-deep .breadcrumb {
  border-radius: 0;
  padding: 5px 10px;
}