<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <div class="website-logo-inside">
                        <!-- <a href="index.html">
                                      <div class="logo">
                                          <img class="logo-size" src="images/logo-light.svg" alt="">
                                      </div>
                                  </a> -->
                    </div>
                    <h3>Helping Hand</h3>
                    <p>Access to the most wide Social Network for Community.</p>
                    <!-- <div class="page-links">
                        <a routerLink="/">Login</a>
                        <a routerLink="/register" class="active">Register</a>
                    </div>
                    <form [formGroup]="myreactiveform" (ngSubmit)="submitFrom()">
                        <div>
                            <input class="form-control" type="text" formControlName="name" placeholder="Full Name">
                            <small class="text-danger"
                                *ngIf="!form.name.valid &&  myreactiveform.get('name').touched">Please Enter Valid Name
                            </small>
                        </div>
                        <div>

                            <input class="form-control" type="email" formControlName="email"
                                placeholder="E-mail Address">

                            <small class="text-danger"
                                *ngIf="!form.email.valid && myreactiveform.get('email').touched">Please Enter Valid
                                Email</small>
                        </div>
                        <div>
                            <input class="form-control" type="password" formControlName="password"
                                placeholder="Password">
                        </div> -->


                        <select name="type" class="form-control" [(ngModel)]="accountType">
                            <option selected>Select Account Type</option>
                            <option value="Identifier">Identifier</option>
                            <option value="Donors">Donors</option>
                            <option value="Councilors">Councilors</option>
                        </select>
                        <div class="form-button">
                            <button id="submit" type="button" class="ibtn" (click)="setType()">Set Type</button>
                        </div>

                    <!-- </form> -->
                  
                </div>
            </div>
        </div>
    </div>
</div>