<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <div class="website-logo-inside">
                        <a routerlink="">
                            <div class="logo">
                                <img class="logo-size" src="" alt="">
                            </div>
                        </a>
                    </div>
                    <h3>Password Reset</h3>
                    <p>To reset your password, enter the email address you use to sign in to Helping Hand</p>
                    <form [formGroup]="ForgetForm" (ngSubmit)="PasswordReset()">
                        <input class="form-control" type="email" formControlName="email" placeholder="E-mail Address"
                            required>
                        <div class="form-button full-width">
                            <button id="submit" type="submit" class="ibtn btn-forget">Send Reset Link</button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>