<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin"><em class="fa fa-home"></em></a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div>

<div class="card border-0">
    <div class="row">
        <div class="col-xs-4 col-md-4 col-lg-4 p-2">
            <div class="card panel-widget border-right">

                <em class="fa fa-3x fa-cubes color-blue"></em>
                <br /><br>
                <div class="large">20</div>
                <div class="text-muted">Total Posts</div>

            </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4 p-2">
            <div class="card panel-widget border-right">

                <em class="fa fa-3x fa-play-circle color-blue"></em>
                <br><br>
                <div class="large">20</div>
                <div class="text-muted">Total Videos</div>

            </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4 p-2">
            <div class="card panel-orange panel-widget border-right">

                <em class="fa fa-3x fa-users color-gray"></em>
                <br><br>
                <div class="large">5</div>
                <div class="text-muted">Total Users</div>

            </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4 p-2">
            <div class="card panel-orange panel-widget border-right">

                <em class="fa fa-3x fa-dollar color-teal"></em>
                <br><br>
                <div class="large">10</div>
                <div class="text-muted">Total Donations</div>

            </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4 p-2">
            <div class="card panel-orange panel-widget border-right">

                <em class="fa fa-3x fa-file color-teal"></em>
                <br><br>
                <div class="large">10</div>
                <div class="text-muted">Total Reports</div>

            </div>
        </div>
        <div class="col-xs-4 col-md-4 col-lg-4 p-2">
            <div class="card panel-orange panel-widget border-right">

                <em class="fa fa-3x fa-ban color-teal"></em>
                <br><br>
                <div class="large">10</div>
                <div class="text-muted">Ban Users</div>
            </div>
        </div>
    </div>
</div>