<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/admin"><em class="fa fa-home"></em></a></li>
            <li class="breadcrumb-item active" aria-current="page">Banned Users</li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Banned Users</h1>
    </div>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Account Type</th>
            <th>Image</th>
             <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td></td>
            <td>{{post.key}}</td>
            <td>{{post.post.name}}</td>
            <td>{{post.post.email}}</td>
            <td>{{post.post.acountType}}</td>
            <td>
                <a href="{{post.post.profile_image}}" target="blank">
                    <img src="{{post.post.profile_image}}" class="img-fluid tableImg" alt="image" />
                </a>
            </td>
            <td class="text-center">
                       <form action="#" method="POST">
                           <button class="trash"><i class="fa fa-trash"></i></button>
                       </form>
                    </td>
        </tr>


    </tbody>
</table>
