<!-- <header class="nav container-fluid">
    <div class="logo">
        <img src="img/logo.png" class="img-fluid" alt="Logo">
    </div>
    <div class="bars ml-auto" id="openDrawer">
        <i class="fas fa-bars fa-2x"></i>
    </div>
    <ul class="menu ml-auto" id="navLaptop">
        <li>
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">About Us</a>
        </li>
        <li>
            <a href="#">Jobs</a>
        </li>
        <li>
            <a href="#">Funding</a>
        </li>
        <li>
            <a href="#">Contact Us</a>
        </li>
        <li>
            <input type="text" class="searchbox" placeholder="Search..." />
            <i class="fas fa-search" id="openSearch"></i>
        </li>
        <li>
            <img src="img/user.jpg" class="img-fluid accountSettingDropdown" id="accountSettingDropdown" />
            <div class="dropdownPicture" id="dropdownPicture">
                <div class="options">
                    <p><a href="#">Profile</a></p>
                    <p><a href="#">Settings</a></p>
                    <p><a href="#">Logout</a></p>
                </div>
            </div>
        </li>
    </ul>

    <div id="drawer">
        <div class="close-bars">
            <button id="closeBars">
                <i class="fa fa-close"></i>
            </button>
        </div>
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
            <li>
                <a href="#">Jobs</a>
            </li>
            <li>
                <a href="#">Funding</a>
            </li>
            <li>
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </div>

</header> -->

<!-- Body -->
<div class="wrapper">
    <!-- <div class="container-fluid topBar">
        <div class="col-lg-6">
            <p class="breadcrumbs"><a href="#">Home</a> / Pages / <span>Contact Us</span></p>
        </div>
    </div> -->
    <div class="body">
        <h4 class="title">Get in touch</h4>

        <form action="#" method="POST">
            <div class="col-lg-6" id="form">
                <div class="form-group">
                    <input type="text" placeholder="Your Full Name" />
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Email Address" />
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Subject" />
                </div>
                <div class="form-group">
                    <textarea placeholder="Your Message"></textarea>
                </div>
                <div class="">
                    <button class="submit">SEND</button>
                </div>
            </div>
        </form>
    </div>
</div>

    
