<div class="container-fluid">
    <div class="col-lg-6 offset-lg-1 box">
        <div class="title">
            <h2>Post Your Question</h2>
            <p>Write Your Question</p>
        </div>
        <br><br>
        <form action="">
            <div class="form-group">
                <label for="question">
                    Question Title
                </label>
                <input type="text" class="form-control" required="required" placeholder="Enter Question Title" />
            </div>
            
            <div class="form-group">
                <label for="question">
                    Category
                </label>
                <select name="" class="form-control" id="">
                    <option value="">All Categories</option>
                    <option value="">Education</option>
                    <option value="">Society</option>
                    <option value="">Career</option>
                </select>
            </div>
            <div class="form-group">
                <label for="question">
                 Tags
                </label>
                <input type="text" class="form-control" required="required" placeholder="Enter Tags" />
            </div>
            <div class="form-group">
                <label for="question">
                    Question Details
                </label>
                <textarea name="" class="form-control" id="" cols="30" rows="10" placeholder="Post your Question Details Here...."></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">PUBLISH YOUR QUESTION</button>
            </div>
        </form>
    </div>
</div>