<div id="PostPage">
		<!-- Header -->
		<header class="nav container-fluid">
			<div class="logo">
				<img src="img/logo.png" class="img-fluid" alt="Logo">
			</div>
			<div class="bars ml-auto" id="openDrawer">
				<i class="fas fa-bars fa-2x"></i>
			</div>
			<ul class="menu ml-auto" id="navLaptop">
				<li>
					<a href="#">Home</a>
				</li>
				<!-- <li>
					<a href="#">Ask Question</a>
				</li>
				<li>
					<a href="#">Ask Donation</a>
				</li> -->
				<li>
					<a routerLink="/About">About Us</a>
				</li>
				<li>
					<a routerLink="/contactus">Contact Us</a>
				</li>
				<li>
					<input type="text" class="searchbox" placeholder="Search..." />
					<i class="fas fa-search" id="openSearch"></i>
        </li>
        <li class="dropdown">
            <img src={{this.user.profile_image}} class="img-fluid accountSettingDropdown dropdown-toggle" id="accountSettingDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-right:50px;">
              <a class="dropdown-item"routerLink="/uprofile">Profile</a>
              <a class="dropdown-item" routerLink="/settings">Settings</a>
              <a class="dropdown-item" (click)="authService.logout()">Logout</a>
            </div>
          </li>
			</ul>

			<div id="drawer">
				<div class="close-bars">
					<button id="closeBars">
						<i class="fa fa-close"></i>
					</button>
				</div>
				<ul>
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#">Raise Question</a>
					</li>
					<li>
						<a href="#">Raise Donations</a>
					</li>
					<li>
						<a href="#">About Us</a>
					</li>
					<li>
						<a href="#">Contact Us</a>
          </li>
          <li class="dropdown">
              <img src={{this.user.profile_image}} class="img-fluid accountSettingDropdown dropdown-toggle" id="accountSettingDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-right:50px;">
                <a class="dropdown-item"routerLink="/uprofile">Profile</a>
                <a class="dropdown-item" routerLink="/settings">Settings</a>
                <a class="dropdown-item" (click)="authService.logout()">Logout</a>
              </div>
            </li>
				</ul>
			</div>

		</header>

		<!-- Body -->
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-3" id="leftSidebar">
					<ul>
							<li>
									<i class="fas fa-rss"></i>
									<a routerLink="/home">Feed</a>
								</li>
								<li>
									<i class="fas fa-university"></i>
									<a routerLink="/education">Education</a>
								</li>
								<li>
									<i class="fas fa-microchip"></i>
									<a routerLink="/marriage">Marriage</a>
								</li>
								<li>
									<i class="fas fa-parachute-box"></i>
									<a routerLink="/proverty">Proverty</a>
								</li>
								<li>
									<i class="fas fa-female"></i>
									<a routerLink="/women">Women</a>
								</li>
								<li>
									<i class="fas fa-child"></i>
									<a routerLink="/child">Child Labour</a>
								</li>
								<li>
									<i class="fas fa-hands-helping"></i>
									<a routerLink="/employment">Un-Employment</a>
								</li>
								<li>
									<i class="fas fa-microchip"></i>
									<a routerLink="/others">Others</a>
								</li>
								<li>
									<i class="fab fa-youtube"></i>
									<a routerLink="/videos">Videos</a>
								</li>
					</ul>
				</div>
				<div class="col-lg-6" id="middleDiv">
					<div class="post">
								<h4 class="title">
									{{posts.Details}}
								</h4>
								<a href="#">
									<button class="editPost">
										<i class="fa fa-pencil"></i>
									</button>
								</a>
                <div class="embed-responsive embed-responsive-16by9">
                  <video playsinline="playsinline" autoplay="autoplay" controls>
                    <source src="{{posts.Video}}" type=".MP4, .3GP ,.WEBM ,.M4P ,.MKV">
                  </video>
                </div>
								<div class="meta">
									<ul class="left">
										<li>
											<i class="far fa-calendar"></i>
											{{posts.Date}}
										</li>
										<li>
											<i class="far fa-user"></i>
											Posted by <b><a href="">{{posts.UserName}}</a></b>
										</li>
									</ul>
									<ul class="right">
										<li>
										<li>
											<i class="fas fa-th-large"></i>
											{{posts.Category}} &nbsp;&nbsp;
										</li>
										<li>
											<i class="fas fa-sign-out-alt "></i>
											<span data-toggle="modal" data-target="#reportQuestionModel"
												style="cursor: pointer;">Report</span>
										</li>

									</ul>
								</div>
								<div class="clearfix"></div>
								<div class="divider"></div>
								<div class="content">
									<p>
										{{posts.Description}}
									</p>
								</div>

								<br><br>
								<div class="clearfix"></div>
							</div>

							<br><br>
							<div class="clearfix"></div>
							<div class="commentsDiv">
								<h4 class="title">Comments</h4>
								<form [formGroup]="commentform" (ngSubmit)="submitFrom()">
									<div class="commentInput">
										<textarea class="form-control" formControlName="Comment"
											placeholder="What's in your mind..."></textarea>
										<button class="btn btn-warning btn-sm btn-comment" type="submit">Comment</button>
									</div>
								</form>
								<div class="wrapper">
									<!-- comment -->
									<!-- <div class="row comment">
										<div class="col-lg-2 userPic">
											<img src="img/user.jpg" class="img-fluid" />
										</div>
										<div class="col-lg-10">
											<p class="name">Awais Khalid</p>
											<p class="data">This is a sample comment for testing.</p>
										</div>
									</div> -->
									<!-- comment -->
									<!-- <div class="row comment">
										<div class="col-lg-2 userPic">
											<img src="img/user.jpg" class="img-fluid" />
										</div>
										<div class="col-lg-10">
											<p class="name">Ali Raza</p>
											<p class="data">This is a sample comment for testing.</p>
										</div>
									</div> -->
									<!-- comment -->
									<div *ngFor="let commentkey of commentkeys">
										<div class="row comment">
											<div class="col-lg-2 userPic">
												<img src="{{comments[commentkey].user_image}}" class="img-fluid" />
											</div>
											<div class="col-lg-10">
												<p class="name">{{comments[commentkey].User_Name}}</p>
												<p class="data">{{comments[commentkey].Comment}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-lg-3" id="rightSidebar">
							<div class="box questions">
								<h3 class="title">Popular Questions</h3>
								<div *ngFor="let lastpost of lastposts">
								<div class="content">
									<p>
										<a routerLink="/question/{{lastpost.key}}">{{lastpost.post.Title}}</a>
									</p>
								</div>
							</div></div>

							<div class="box members">
								<h3 class="title">Popular Members</h3>
								<div *ngFor="let user of users" >

								<div class="content">
									<!-- Member -->
									<div class="member">
										<div class="thumbanil">
											<img src="{{user.post.profile_image}}" class="img-fluid" />
										</div>
										<div class="">
												<a routerLink="/profile/{{user.key}}" class="name">{{user.post.name}}</a>
											<p class="designation">{{user.post.acountType}}</p>
										</div>
									</div>

								</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			<!-- </div> -->
		</div>

		<script>
			var btn = document.getElementById('closeReportQuestionModel');
			var model = document.getElementById('reportQuestionModel');
			btn.addEventListener("click", hideModel);
			function hideModel() {
				model.css('display', 'none');
			}
		</script>

		<div class="modal fade models reportQuestionModel" id="reportQuestionModel">
			<!-- <div class="close" id="closeReportQuestionModel"
				style="cursor:pointer;color:#555;float:right;margin-right: 5px;margin-top: 5px;">
				X
			</div> -->
		 <div class="modal-dialog">
			<div class="modal-header">
				<h4 class="title">Report this post</h4>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="body">
				<!-- <form [formGroup]="reportform" (ngSubmit)="reportFrom()">
					<div class="form-group">
						<input type="text" placeholder="Full Name" formControlName="Name" />
					</div>
					<div class="form-group">
						<input type="text" placeholder="Email Address" formControlName="Email" />
					</div>
					<div class="form-group">
						<select formControlName="Reason">
							<option selected disabled>Why you are reporting this post</option>
							<option value="Abuse">Abuse</option>
							<option value="Religious">Religious</option>
							<option value="UnEthical">Un Ethical</option>
						</select>
					</div>
					<div class="form-group">
						<textarea placeholder="Your Message" formControlName="Message"></textarea>
					</div>
					<div class="">
						<button class="submit" type="submit">Post</button>
					</div>


				</form> -->



			</div>
		 </div>
		</div>
		<div id="postQuestionModelOverlay"></div>
